h1 {
    font-size: 5vmax;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

textarea {
    padding-top: 0.3vmax;
    padding-left: 0.5vmax;
    width: 50vmax;
    height: 20vmax;
    display: block;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table {
    width: 50vmax;
    margin-left: auto;
    margin-right: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    table-layout: fixed;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vmax;
}

.radio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.radio-container input[type="radio"] {
    display: none;
}

.radio-container label {
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 20px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.radio-container input[type="radio"]:checked + label {
    background-color: #Ffa500;
}